html, body {
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#navigation {
    background-image: url("/res/background_stripe.png");
    text-align: right;
    text-shadow: 4px 4px 2px #000000;
}

#navigation ul {
    margin: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#navigation li {
    display: inline;
    padding-left: 10px;
}

#navigation a {
    color: #ffffff;
    text-decoration: none;
}

#main {
    background-image: radial-gradient(circle, #000088, #000044);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main #header {
    background-image: url("/res/capcus_logo.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    border: solid 1px transparent;
}

#main #title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
    margin: 0em;
    padding-left: 1.25em;
    text-align: center;
    text-shadow: 4px 4px 2px #000000;
}

#main #slogan {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    text-align: center;
    margin: 0em;
    margin-top: -2em;
    margin-bottom: 2em;
    margin-left: 10em;
}

#main #input {
    text-align: center;
}

#main #output {
    visibility: hidden;
    border: dashed #ffffff;
    margin: 0em;
    margin-top: 2em;
    padding: 1em;
}

#main #output #url {
    margin: 0em;
    margin-bottom: 1em;
    text-align: center;
    font-size: xx-large;
}

#main #output #info {
    margin: 0em;
    text-align: left;
    font-size: small;
    font-style: italic;
}

#main #output #info ul {
    margin: 0em;
    padding: 0em;
    padding-left: 1em;
}

#account {
    background-image: radial-gradient(circle, #880000, #440000);
}

#account-dummy {
    height: 32px;
}

#account-header {
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 0.5em;
    font-size: xx-large;
    text-align: left;
    text-shadow: 4px 4px 2px #000000;
}

#account-content {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#account-content #tabs-token {
    word-wrap: break-word;
}

#account-content .tabs-panel {
    overflow: scroll;
}

#account-footer {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-image: url("/res/background_stripe.png");
    text-align: center;
    text-shadow: 4px 4px 2px #000000;
}

#google-signin {
    visibility: visible;
}

#account-info {
    padding-right: 1em;
    padding-left: 1em;
}

#account-logout img {
    cursor: pointer;
}

#plan {
    background-image: radial-gradient(circle, #000088, #000044);
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
    text-align: center;
    text-shadow: 4px 4px 2px #000000;
}

#about {
    background-image: radial-gradient(circle, #880000, #440000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: xx-large;
    text-align: center;
    text-shadow: 4px 4px 2px #000000;
}